<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.indexWindowTitle}</title>
    </h:head>
    <h:body>
        <h:form>
            <!-- The two map images will fire an event if clicked -->
            <h:commandLink immediate="true"
                           actionListener="#{localeChanger.changeLocale}">
                <f:param name="languageCode" value="fr_CA" />
                <h:graphicImage library="images" name="ca_flag.gif"
                                style="border: 0px; margin-right: 1em;" />
            </h:commandLink>
            <h:commandLink immediate="true"
                           actionListener="#{localeChanger.changeLocale}">
                <f:param name="languageCode" value="en_CA" />
                <h:graphicImage library="images" name="en_flag.gif"
                                style="border: 0px" />
            </h:commandLink>
            <p style="font-style: italic; font-size: 1.3em">#{msgs.indexPageTitle}</p>
            <h:panelGrid columns="2">
                #{msgs.namePrompt}
                <h:inputText value="#{user.name}" />
                #{msgs.passwordPrompt}
                <h:inputSecret value="#{user.password}" />
                #{msgs.tellUsPrompt}
                <h:inputTextarea value="#{user.aboutYourself}" rows="5"
                                 cols="35" />
            </h:panelGrid>
            <h:commandButton value="#{msgs.submitPrompt}" action="thankYou" />
        </h:form>
    </h:body>
</html>
