<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>#{msgs.thankYouWindowTitle}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <em>#{msgs.namePrompt}</em>
        #{user.name}
        <br/>
        <em>#{msgs.aboutYourselfPrompt}</em>
        <pre>#{user.aboutYourself}</pre>
    </h:body>
</html>
